
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');


h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 60px;
}

h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 30px;
}


/* card styling */
.card{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    box-shadow: 5px 7px rgba(43, 48, 45, 0.541); 
    background-image: url("/assets/images/leaves-bg-btm.png");
    color: white;
}

.card-body{
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
}

.card-title{
    font-weight: bold;
    font-size: 22px;
}

/* portfolio card buttons */
.btn{
    margin-right: 10px;
    margin-bottom: 10px;
    outline: solid 2px rgb(5, 22, 5);
    border-radius: 12px;
    float: right;
}

a.btn:hover{
    background-color: rgb(5, 22, 5);
    color: white;
    border-radius: 0px;
}

/* contact card */
.contact{
    padding: 30px;   
    color: white; 
}

/* contact page submit button */
a.btn.about-btn,
a.btn{
    color:white;
}

button.btn:hover{
    background-color: rgb(5, 22, 5);
    color: white;
    border-radius: 0px;
}

/* about me page css */
#profile-pic{
    border-radius: 5%;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-text{
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    color: white;
}

.jumbotron{
    box-shadow: 5px 7px rgba(43, 48, 45, 0.541); 
}


/* .portfolio-bg{
    background-image: url("/assets/images/leaves-bg-btm.png");
    background-size: cover;
    margin-top: 0px;
  } */

  /* footer stylling */

p.footer{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
}

.social{
    display: inline-flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 3%;
    margin-top: 50px;
}

/* card background for contact and about me page */
.page{
    background-image: url("/assets/images/leaves-bg-btm.png");
}
